.jumbotronBackground {    
    background: linear-gradient(0deg, rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url('../public/download-app-background.jpg');    
    height: 516px;
    background-size: cover;
    background-position: center;
    position: relative;    
}


.descFood {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 5%;
    margin-top: 3%;
}

.tagline {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    height: 96px;
}

.textWrapp {
    padding-top: 72px;
}

.boxPlaystore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    background: #FA4A0C;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    width: 236px;
    justify-content: center;
    z-index: 2;
    border-color: transparent;
}

.textPlaystore {    
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    align-items: center;
    margin-bottom: 0;
}

.boxAppstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    width: 236px;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
}

.textAppstore {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .descFood {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
}