.jumbotronBackground {    
    background: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url('../public/jumbotron-background.jpg');
    height: 619px;
    background-size: cover;
    background-position: center;
    position: relative;    
}

.titleFood {
    display: flex;
    justify-content: center;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
}

.descFood {
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.tagline {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #F7F7F7;

}

.textWrapp {
    padding-top: 72px;
}

@media (max-width: 600px) {
    .descFood {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
}