.fontNavbar {
    font-size: 16px;    
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.fontHome {
    font-size: 16px;    
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color:#FA4A0C;
}

