.line {
    margin-top: 40%;
    width: 884px;
    border: 3px solid #E4E4E4;
    justify-content: center;
    align-items: center;
}

.boxPhone {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneOrange {
    top: 600px;
    position: absolute;
    left: 15%;
    z-index: 1;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

.phoneWhite {
    top: 600px;
    padding-top: 3%;
    position: absolute;
    right: 15%;    
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}